---
import OurPrinciples from "../components/sections/principles/OurPrinciples.astro";
import Hero from "../components/sections/hero/Hero.astro";
import Services from "../components/sections/services/Services.astro";
import Layout from "../layouts/Layout.astro";
import ContactInfo from "../components/sections/contact/ContactInfo.astro";
import Transport from "../components/sections/transport/Transport.astro";
---

<Layout title="Transporte de Caballos">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <Hero />

    <Services />

    <Transport />

    <OurPrinciples />

    <ContactInfo />
  </main>
</Layout>
