---
import GroupFooterNav from "../components/blocks/GroupFooterNav.astro";
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";
import FooterText from "../components/shared/FooterText.astro";
import Paragraph from "../components/shared/Paragraph.astro";

const footerContact = {
  title: "Información de contacto",
  rows: [
    "Director: Xavi Sendra Gené",
    "Teléfono: +34 600010579",
    "info@equuservice.com ",
    "Tarragona, España",
  ],
};
const footerSiteMap = [
  {
    itemText: "Servicios",
    itemLink: "/#servicios",
  },
  {
    itemText: "Sore Nosotros",
    itemLink: "/#our-values",
  },
  {
    itemText: "Contacto",
    itemLink: "/#contacto",
  },
];
---

<div class="relative mt-16 bg-base-200 dark:bg-base-dark-800">
  <footer class="relative pt-28 rounded-t-3xl">
    <Container className="pb-8 relative overflow-auto ">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
      >
        <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
          <div class="h-full">
            <a href="/" class="relative flex items-center gap-3">
              <div class="inline-flex text-lg font-semibold text-heading-1">
                Equuservice
              </div>
            </a>
            <Paragraph className={"mt-8"}>
              Ofrecemos transporte de caballos seguro y confiable.
              Contáctanos para un servicio personalizado y profesional.
            </Paragraph>
          </div>

          <!-- social links -->
          <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
            <a
              href="https://www.instagram.com/equuservice"
              class="transition hover:text-heading-1 hover:scale-105"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"
                ></path>
              </svg>
              <span class="sr-only">social link</span>
            </a>
          </div>
        </div>

        <div class="col-span-1 hidden lg:block"></div>

        <GroupFooterNav>
          <FooterText title={footerContact.title} text={footerContact.rows} />
          <FooterNav title={"Enlaces"} navItems={footerSiteMap} />
        </GroupFooterNav>
      </div>
    </Container>
    <div class="py-2 relative">
      <Container>
        <div
          class="flex justify-between items-center gap-6 md:text-lg text-heading-3"
        >
          <div>
            &copy; <span id="year">Equuservice</span>
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>
